;; No pyproject.toml support: https://gitlab.com/pycqa/flake8/-/issues/428
[flake8]
max_line_length = 88
inline_quotes = double
no_accept_encodings = true
docstring_convention = google

# D1xx: Missing docstrings ¯\_(ツ)_/¯
# D200: One-line docstring should fit on one line with quotes.
# E203: whitespace before ':'
# F401: Module imported but unused
# F403: ‘from module import *’ used; unable to detect undefined names
# per-file-ignores = __init__.py:F401,F403
extend-ignore = D1,D200,E203,P101
