Flask==1.*
Flask-GithubApp==0.2.*
GitPython==3.*
PyGithub==1.*
PyYAML==5.*
google-api-python-client==1.*
more-itertools==8.*
pydantic==1.*
python-dotenv
rq==1.*
git+https://github.com/python-tap/tappy#egg=tap.py  # Need fix for #111.
